workflows/calcul_valeur_locative.json
{
  "name": "Calcul Valeur Locative DVF",
  "id": "calcul-valeur-locative-dvf-001",
  "versionId": "1",
  "meta": {
    "instanceId": "n8n-geo-local"
  },
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calcul-valeur",
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "Demande Évaluation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 360]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.id, b.reference, b.designation, b.surface, b.code_commune, ST_X(ST_Centroid(b.geom)) as x, ST_Y(ST_Centroid(b.geom)) as y, ST_AsGeoJSON(b.geom) as geometry FROM domaine.biens b WHERE b.id = {{$json.body.bien_id}};"
      },
      "id": "getBien",
      "name": "Récupérer Bien",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 360]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM domaine.calculer_valeur_locative({{$json.id}}, {{$json.body?.rayon || 1000}});"
      },
      "id": "calculDVF",
      "name": "Calcul via DVF",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [680, 360]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT date_mutation, type_local, valeur_fonciere, surface_terrain, surface_reelle_bati, ST_Distance(geom, (SELECT geom FROM domaine.biens WHERE id = {{$items('Récupérer Bien')[0].json.id}})) as distance FROM domaine.references_dvf WHERE ST_DWithin(geom, (SELECT geom FROM domaine.biens WHERE id = {{$items('Récupérer Bien')[0].json.id}}), 1000) AND valeur_fonciere > 0 ORDER BY date_mutation DESC LIMIT 10;"
      },
      "id": "getRefsDVF",
      "name": "Références DVF",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [680, 520]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const bien = $items('Récupérer Bien')[0].json;\nconst calcul = $items('Calcul via DVF')[0]?.json || {};\nconst refs = $items('Références DVF').map(i => i.json);\n\nconst evaluation = {\n  bien_id: bien.id,\n  bien_reference: bien.reference,\n  bien_designation: bien.designation,\n  surface_bien: bien.surface,\n  code_commune: bien.code_commune,\n  valeur_venale_estimee: calcul.valeur_venale_estimee || null,\n  valeur_locative_annuelle: calcul.valeur_locative_estimee || null,\n  valeur_locative_mensuelle: calcul.valeur_locative_estimee ? Math.round(calcul.valeur_locative_estimee / 12) : null,\n  prix_m2_moyen: calcul.prix_m2_moyen || null,\n  nb_references: calcul.nb_references || 0,\n  confiance: calcul.confiance || 'aucune_donnee',\n  transactions_reference: refs,\n  methode: 'Comparaison DVF',\n  date_evaluation: new Date().toISOString().slice(0,10)\n};\n\nreturn [{ json: evaluation }];"
      },
      "id": "consolidation",
      "name": "Consolider Évaluation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 440]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO domaine.evaluations (bien_id, date_evaluation, type_evaluation, valeur_venale, valeur_locative_annuelle, methode_evaluation, source_donnees, evaluateur, justification, donnees_dvf) VALUES ({{$json.bien_id}}, '{{$json.date_evaluation}}', 'locative', {{$json.valeur_venale_estimee || 'NULL'}}, {{$json.valeur_locative_annuelle || 'NULL'}}, '{{$json.methode}}', 'DVF - data.gouv.fr', 'Système automatique n8n', 'Calcul basé sur {{$json.nb_references}} transactions DVF. Niveau de confiance: {{$json.confiance}}', '{{JSON.stringify($json.transactions_reference)}}'::jsonb) RETURNING id;"
      },
      "id": "saveEvaluation",
      "name": "Sauvegarder Évaluation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1160, 440]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{
            "value1": "={{$json.confiance}}",
            "operation": "equals",
            "value2": "aucune_donnee"
          }]
        }
      },
      "id": "checkConfiance",
      "name": "Données Suffisantes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1380, 440]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT traitement.creer_alerte_sms('evaluation_requise', 'Évaluation manuelle requise', 'Bien {{$items(\"Récupérer Bien\")[0].json.reference}}: pas assez de données DVF pour évaluation automatique', '+221770000000', 'importante', {{$items(\"Récupérer Bien\")[0].json.id}}) AS alerte_id;"
      },
      "id": "alerteManuelle",
      "name": "Alerte Éval Manuelle",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1600, 340]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO traitement.logs (workflow_id, execution_id, etape, statut, message, donnees) VALUES ('calcul_valeur', '{{$execution.id}}', 'evaluation_complete', 'success', 'Évaluation bien {{$items(\"Récupérer Bien\")[0].json.reference}}', '{{JSON.stringify($json)}}'::jsonb);"
      },
      "id": "logResult",
      "name": "Logger Résultat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1820, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, bien_reference: $items('Récupérer Bien')[0].json.reference, valeur_venale: $json.valeur_venale_estimee, valeur_locative_annuelle: $json.valeur_locative_annuelle, valeur_locative_mensuelle: $json.valeur_locative_mensuelle, confiance: $json.confiance, nb_references: $json.nb_references } }}"
      },
      "id": "respond",
      "name": "Répondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2040, 440]
    }
  ],
  "connections": {
    "Demande Évaluation": { "main": [[{ "node": "Récupérer Bien", "type": "main", "index": 0 }]] },
    "Récupérer Bien": { "main": [[{ "node": "Calcul via DVF", "type": "main", "index": 0 }, { "node": "Références DVF", "type": "main", "index": 0 }]] },
    "Calcul via DVF": { "main": [[{ "node": "Consolider Évaluation", "type": "main", "index": 0 }]] },
    "Références DVF": { "main": [[{ "node": "Consolider Évaluation", "type": "main", "index": 0 }]] },
    "Consolider Évaluation": { "main": [[{ "node": "Sauvegarder Évaluation", "type": "main", "index": 0 }]] },
    "Sauvegarder Évaluation": { "main": [[{ "node": "Données Suffisantes?", "type": "main", "index": 0 }]] },
    "Données Suffisantes?": { "main": [
      [{ "node": "Alerte Éval Manuelle", "type": "main", "index": 0 }],
      [{ "node": "Logger Résultat", "type": "main", "index": 0 }]
    ]},
    "Alerte Éval Manuelle": { "main": [[{ "node": "Logger Résultat", "type": "main", "index": 0 }]] },
    "Logger Résultat": { "main": [[{ "node": "Répondre", "type": "main", "index": 0 }]] }
  },
  "settings": {},
  "pinData": {},
  "staticData": null,
  "version": 2
}
