workflows/debug_workflows.json
[{"updatedAt":"2025-12-20T15:38:24.995Z","createdAt":"2025-12-20T15:38:24.995Z","id":"analyse-spatiale-bien-001","name":"Analyse Spatiale Bien Domanial","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"analyse-bien","responseMode":"responseNode"},"id":"webhookAnalyse","name":"Webhook Analyse","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,360]},{"parameters":{"operation":"executeQuery","query":"SELECT id, reference, designation, ST_Area(geom) AS surface_calculee, ST_Perimeter(geom) AS perimetre, ST_AsGeoJSON(ST_Centroid(geom)) AS centroide, ST_AsGeoJSON(geom) AS geometry, ST_AsGeoJSON(ST_Envelope(geom)) AS emprise FROM domaine.biens WHERE id = {{ $json.body.bien_id }};"},"id":"getBien","name":"Récupérer Bien","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[460,360]},{"parameters":{"operation":"executeQuery","query":"SELECT p.id_parcelle, p.section, p.numero, p.contenance, ST_Area(ST_Intersection(p.geom, b.geom)) AS surface_intersection, ST_Area(ST_Intersection(p.geom, b.geom)) / NULLIF(ST_Area(p.geom),0) * 100 AS pct_parcelle, ST_Area(ST_Intersection(p.geom, b.geom)) / NULLIF(b.area,0) * 100 AS pct_bien, ST_AsGeoJSON(ST_Intersection(p.geom, b.geom)) AS geom_intersection FROM cadastre.parcelles p JOIN (SELECT id, geom, ST_Area(geom) AS area FROM domaine.biens WHERE id = {{ $json.body.bien_id }} ) b ON ST_Intersects(p.geom, b.geom) ORDER BY surface_intersection DESC;"},"id":"getParcelles","name":"Parcelles Intersectantes","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[680,260]},{"parameters":{"operation":"executeQuery","query":"SELECT bat.id_batiment, bat.type, bat.date_construction, bat.surface_sol, ST_Area(ST_Intersection(bat.geom, b.geom)) AS surface_sur_bien, ST_AsGeoJSON(bat.geom) AS geometry FROM cadastre.batiments bat JOIN domaine.biens b ON ST_Intersects(bat.geom, b.geom) WHERE b.id = {{ $json.body.bien_id }};"},"id":"getBatiments","name":"Bâtiments Sur Bien","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[680,460]},{"parameters":{"operation":"executeQuery","query":"SELECT v.id, v.reference, v.type_bien, v.designation, ST_Distance(v.geom, b.geom) AS distance, ST_AsGeoJSON(v.geom) AS geometry FROM domaine.biens v JOIN domaine.biens b ON b.id = {{ $json.body.bien_id }} WHERE v.id != b.id AND ST_DWithin(v.geom, b.geom, 500) ORDER BY distance LIMIT 10;"},"id":"getVoisins","name":"Biens Voisins","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[680,660]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const bienItem = $items().find(i => i.node && i.node.name === 'Récupérer Bien'); const bien = (bienItem && bienItem.json) || {}; const parcelles = $items().filter(i => i.node && i.node.name === 'Parcelles Intersectantes').map(i => i.json); const batiments = $items().filter(i => i.node && i.node.name === 'Bâtiments Sur Bien').map(i => i.json); const voisins = $items().filter(i => i.node && i.node.name === 'Biens Voisins').map(i => i.json); const stats = { surface_bien: bien.surface_calculee, perimetre: bien.perimetre, nb_parcelles: parcelles.length, surface_parcellaire_totale: parcelles.reduce((s, p) => s + (p.surface_intersection || 0), 0), nb_batiments: batiments.length, nb_voisins: voisins.length }; return [{ json: { bien, parcelles, batiments, voisins, stats } }];"},"id":"consolidate","name":"Consolider Résultats","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,460]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}"},"id":"respond","name":"Répondre","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1160,460]}],"connections":{"Webhook Analyse":{"main":[[{"node":"Récupérer Bien","type":"main","index":0}]]},"Récupérer Bien":{"main":[[{"node":"Parcelles Intersectantes","type":"main","index":0},{"node":"Bâtiments Sur Bien","type":"main","index":0},{"node":"Biens Voisins","type":"main","index":0}]]},"Parcelles Intersectantes":{"main":[[{"node":"Consolider Résultats","type":"main","index":0}]]},"Bâtiments Sur Bien":{"main":[[{"node":"Consolider Résultats","type":"main","index":0}]]},"Biens Voisins":{"main":[[{"node":"Consolider Résultats","type":"main","index":0}]]},"Consolider Résultats":{"main":[[{"node":"Répondre","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"instanceId":"n8n-geo-local"},"pinData":{},"versionId":"1                                   ","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-20T15:38:24.995Z","createdAt":"2025-12-20T15:38:24.995Z","role":"workflow:owner","workflowId":"analyse-spatiale-bien-001","projectId":"qzhxq8sb3mHkfpmw","project":{"updatedAt":"2025-12-20T11:44:38.874Z","createdAt":"2025-12-20T11:40:10.812Z","id":"qzhxq8sb3mHkfpmw","name":"Zounoumité zounoumitek@gmail.com <zounoumitek@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-20T15:40:31.338Z","createdAt":"2025-12-20T15:40:31.338Z","id":"recherche-parcelle-adresse-001","name":"Recherche Parcelle par Adresse","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"recherche-parcelle","responseMode":"responseNode"},"id":"webhookRecherche","name":"Webhook Recherche","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[260,300]},{"parameters":{"method":"GET","url":"={{ 'https://api-adresse.data.gouv.fr/search/?q=' + encodeURIComponent($json.body.adresse || '') + '&limit=1' }}"},"id":"geocodeAdresse","name":"Géocodage Adresse","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[480,300]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const r = $input.first().json; if (!r.features || r.features.length === 0) { return [{ json: { error: 'Adresse non trouvée' } }]; } const f = r.features[0]; const [lon, lat] = f.geometry.coordinates; return [{ json: { adresse: (f.properties && (f.properties.label || f.properties.libl || f.properties.name)) || ($json.body && $json.body.adresse) || '', lon, lat } }];"},"id":"parseGeocode","name":"Parser Géocodage","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,300]},{"parameters":{"method":"GET","url":"={{ 'https://apicarto.ign.fr/api/cadastre/parcelle?geom=' + encodeURIComponent(JSON.stringify({type:'Point',coordinates:[$json.lon,$json.lat]})) + '&_limit=10' }}","options":{"timeout":30000}},"id":"apiCadastreIGN","name":"API Cadastre IGN","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[920,300]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const cad = $input.first().json; const infoNode = $items().find(i => i.node && i.node.name === 'Parser Géocodage'); const info = (infoNode && infoNode.json) || {}; if (!cad.features || cad.features.length === 0) { return [{ json: { success: false, message: 'Aucune parcelle trouvée', adresse: info.adresse || '' } }]; } const parcelles = cad.features.map(f => ({ id: f.properties && f.properties.id, commune: f.properties && f.properties.commune, prefixe: f.properties && f.properties.prefixe, section: f.properties && f.properties.section, numero: f.properties && f.properties.numero, surface: (f.properties && (f.properties.surface || f.properties.contenance)) || null })); return [{ json: { success: true, adresse: info.adresse || '', parcelles } }];"},"id":"formatResponse","name":"Formater Réponse","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,300]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}"},"id":"respondWebhook","name":"Répondre","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1360,300]}],"connections":{"Webhook Recherche":{"main":[[{"node":"Géocodage Adresse","type":"main","index":0}]]},"Géocodage Adresse":{"main":[[{"node":"Parser Géocodage","type":"main","index":0}]]},"Parser Géocodage":{"main":[[{"node":"API Cadastre IGN","type":"main","index":0}]]},"API Cadastre IGN":{"main":[[{"node":"Formater Réponse","type":"main","index":0}]]},"Formater Réponse":{"main":[[{"node":"Répondre","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"instanceId":"n8n-geo-local"},"pinData":{},"versionId":"1                                   ","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-20T15:40:31.338Z","createdAt":"2025-12-20T15:40:31.338Z","role":"workflow:owner","workflowId":"recherche-parcelle-adresse-001","projectId":"qzhxq8sb3mHkfpmw","project":{"updatedAt":"2025-12-20T11:44:38.874Z","createdAt":"2025-12-20T11:40:10.812Z","id":"qzhxq8sb3mHkfpmw","name":"Zounoumité zounoumitek@gmail.com <zounoumitek@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-20T15:39:23.273Z","createdAt":"2025-12-20T15:39:23.273Z","id":"export-cartographique-bien-001","name":"Export Cartographique Bien","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"export-carte","responseMode":"responseNode"},"id":"webhookExport","name":"Webhook Export","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300]},{"parameters":{"operation":"executeQuery","query":"WITH bien AS ( SELECT * FROM domaine.biens WHERE id = {{ $json.body.bien_id }} ), buffer AS ( SELECT ST_Buffer(geom, 200) AS geom FROM bien ), parcelles AS ( SELECT 'parcelle' AS type, p.id_parcelle AS id, json_build_object('section', p.section, 'numero', p.numero, 'contenance', p.contenance) AS properties, p.geom FROM cadastre.parcelles p, buffer b WHERE ST_Intersects(p.geom, b.geom) ), batiments AS ( SELECT 'batiment' AS type, bat.id_batiment AS id, json_build_object('type', bat.type, 'date_construction', bat.date_construction, 'surface_sol', bat.surface_sol) AS properties, bat.geom FROM cadastre.batiments bat, buffer b WHERE ST_Intersects(bat.geom, b.geom) ), all_geoms AS ( SELECT * FROM parcelles UNION ALL SELECT * FROM batiments ) SELECT json_build_object('type','FeatureCollection','features', json_agg(json_build_object('type','Feature','geometry', ST_AsGeoJSON(geom)::json,'properties', json_build_object('type', type, 'id', id) || properties))) AS geojson FROM all_geoms;"},"id":"exportGeoJSON","name":"Exporter GeoJSON","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[520,300]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const row = $input.first().json; return [{ json: { geojson: row.geojson, bien_id: $json.body.bien_id } }];"},"id":"prepare","name":"Préparer","type":"n8n-nodes-base.code","typeVersion":2,"position":[740,300]},{"parameters":{"respondWith":"json","responseBody":"={{ { fileName: 'export_bien_' + $json.bien_id + '.geojson', data: $json.geojson } }}"},"id":"respond","name":"Retourner GeoJSON","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,300]}],"connections":{"Webhook Export":{"main":[[{"node":"Exporter GeoJSON","type":"main","index":0}]]},"Exporter GeoJSON":{"main":[[{"node":"Préparer","type":"main","index":0}]]},"Préparer":{"main":[[{"node":"Retourner GeoJSON","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"instanceId":"n8n-geo-local"},"pinData":{},"versionId":"1                                   ","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-20T15:39:23.273Z","createdAt":"2025-12-20T15:39:23.273Z","role":"workflow:owner","workflowId":"export-cartographique-bien-001","projectId":"qzhxq8sb3mHkfpmw","project":{"updatedAt":"2025-12-20T11:44:38.874Z","createdAt":"2025-12-20T11:40:10.812Z","id":"qzhxq8sb3mHkfpmw","name":"Zounoumité zounoumitek@gmail.com <zounoumitek@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-20T15:38:59.951Z","createdAt":"2025-12-20T15:38:59.951Z","id":"calcul-valeur-locative-dvf-001","name":"Calcul Valeur Locative DVF","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"calcul-valeur","responseMode":"responseNode"},"id":"webhook","name":"Demande Évaluation","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,360]},{"parameters":{"operation":"executeQuery","query":"SELECT b.id, b.reference, b.designation, b.surface, b.code_commune, ST_X(ST_Centroid(b.geom)) as x, ST_Y(ST_Centroid(b.geom)) as y, ST_AsGeoJSON(b.geom) as geometry FROM domaine.biens b WHERE b.id = {{$json.body.bien_id}};"},"id":"getBien","name":"Récupérer Bien","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[460,360]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM domaine.calculer_valeur_locative({{$json.id}}, {{$json.body?.rayon || 1000}});"},"id":"calculDVF","name":"Calcul via DVF","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[680,360]},{"parameters":{"operation":"executeQuery","query":"SELECT date_mutation, type_local, valeur_fonciere, surface_terrain, surface_reelle_bati, ST_Distance(geom, (SELECT geom FROM domaine.biens WHERE id = {{$items('Récupérer Bien')[0].json.id}})) as distance FROM domaine.references_dvf WHERE ST_DWithin(geom, (SELECT geom FROM domaine.biens WHERE id = {{$items('Récupérer Bien')[0].json.id}}), 1000) AND valeur_fonciere > 0 ORDER BY date_mutation DESC LIMIT 10;"},"id":"getRefsDVF","name":"Références DVF","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[680,520]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const bien = $items('Récupérer Bien')[0].json;\nconst calcul = $items('Calcul via DVF')[0]?.json || {};\nconst refs = $items('Références DVF').map(i => i.json);\n\nconst evaluation = {\n  bien_id: bien.id,\n  bien_reference: bien.reference,\n  bien_designation: bien.designation,\n  surface_bien: bien.surface,\n  code_commune: bien.code_commune,\n  valeur_venale_estimee: calcul.valeur_venale_estimee || null,\n  valeur_locative_annuelle: calcul.valeur_locative_estimee || null,\n  valeur_locative_mensuelle: calcul.valeur_locative_estimee ? Math.round(calcul.valeur_locative_estimee / 12) : null,\n  prix_m2_moyen: calcul.prix_m2_moyen || null,\n  nb_references: calcul.nb_references || 0,\n  confiance: calcul.confiance || 'aucune_donnee',\n  transactions_reference: refs,\n  methode: 'Comparaison DVF',\n  date_evaluation: new Date().toISOString().slice(0,10)\n};\n\nreturn [{ json: evaluation }];"},"id":"consolidation","name":"Consolider Évaluation","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,440]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO domaine.evaluations (bien_id, date_evaluation, type_evaluation, valeur_venale, valeur_locative_annuelle, methode_evaluation, source_donnees, evaluateur, justification, donnees_dvf) VALUES ({{$json.bien_id}}, '{{$json.date_evaluation}}', 'locative', {{$json.valeur_venale_estimee || 'NULL'}}, {{$json.valeur_locative_annuelle || 'NULL'}}, '{{$json.methode}}', 'DVF - data.gouv.fr', 'Système automatique n8n', 'Calcul basé sur {{$json.nb_references}} transactions DVF. Niveau de confiance: {{$json.confiance}}', '{{JSON.stringify($json.transactions_reference)}}'::jsonb) RETURNING id;"},"id":"saveEvaluation","name":"Sauvegarder Évaluation","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1160,440]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.confiance}}","operation":"equals","value2":"aucune_donnee"}]}},"id":"checkConfiance","name":"Données Suffisantes?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1380,440]},{"parameters":{"operation":"executeQuery","query":"SELECT traitement.creer_alerte_sms('evaluation_requise', 'Évaluation manuelle requise', 'Bien {{$items(\"Récupérer Bien\")[0].json.reference}}: pas assez de données DVF pour évaluation automatique', '+221770000000', 'importante', {{$items(\"Récupérer Bien\")[0].json.id}}) AS alerte_id;"},"id":"alerteManuelle","name":"Alerte Éval Manuelle","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1600,340]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO traitement.logs (workflow_id, execution_id, etape, statut, message, donnees) VALUES ('calcul_valeur', '{{$execution.id}}', 'evaluation_complete', 'success', 'Évaluation bien {{$items(\"Récupérer Bien\")[0].json.reference}}', '{{JSON.stringify($json)}}'::jsonb);"},"id":"logResult","name":"Logger Résultat","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1820,440]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, bien_reference: $items('Récupérer Bien')[0].json.reference, valeur_venale: $json.valeur_venale_estimee, valeur_locative_annuelle: $json.valeur_locative_annuelle, valeur_locative_mensuelle: $json.valeur_locative_mensuelle, confiance: $json.confiance, nb_references: $json.nb_references } }}"},"id":"respond","name":"Répondre","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2040,440]}],"connections":{"Demande Évaluation":{"main":[[{"node":"Récupérer Bien","type":"main","index":0}]]},"Récupérer Bien":{"main":[[{"node":"Calcul via DVF","type":"main","index":0},{"node":"Références DVF","type":"main","index":0}]]},"Calcul via DVF":{"main":[[{"node":"Consolider Évaluation","type":"main","index":0}]]},"Références DVF":{"main":[[{"node":"Consolider Évaluation","type":"main","index":0}]]},"Consolider Évaluation":{"main":[[{"node":"Sauvegarder Évaluation","type":"main","index":0}]]},"Sauvegarder Évaluation":{"main":[[{"node":"Données Suffisantes?","type":"main","index":0}]]},"Données Suffisantes?":{"main":[[{"node":"Alerte Éval Manuelle","type":"main","index":0}],[{"node":"Logger Résultat","type":"main","index":0}]]},"Alerte Éval Manuelle":{"main":[[{"node":"Logger Résultat","type":"main","index":0}]]},"Logger Résultat":{"main":[[{"node":"Répondre","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"instanceId":"n8n-geo-local"},"pinData":{},"versionId":"1                                   ","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-20T15:38:59.951Z","createdAt":"2025-12-20T15:38:59.951Z","role":"workflow:owner","workflowId":"calcul-valeur-locative-dvf-001","projectId":"qzhxq8sb3mHkfpmw","project":{"updatedAt":"2025-12-20T11:44:38.874Z","createdAt":"2025-12-20T11:40:10.812Z","id":"qzhxq8sb3mHkfpmw","name":"Zounoumité zounoumitek@gmail.com <zounoumitek@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-20T16:42:45.483Z","createdAt":"2025-12-20T15:40:46.069Z","id":"sync-quotidienne-cadastre-001","name":"Sync Quotidienne Cadastre","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 2 * * *"}]}},"id":"cronDaily","name":"Tous les jours à 2h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,304]},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT code_commune FROM domaine.biens WHERE statut = 'actif' ORDER BY code_commune;","options":{}},"id":"getCommunes","name":"Communes à Synchroniser","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[480,304],"credentials":{"postgres":{"id":"OWJeAe73gfl26A16","name":"PostGIS Cadastre"}}},{"parameters":{"batchSize":1,"options":{}},"id":"loopCommunes","name":"Pour Chaque Commune","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[704,304]},{"parameters":{"url":"={{ 'https://cadastre.data.gouv.fr/bundler/cadastre-etalab/communes/' + $json.code_commune + '/geojson/parcelles' }}","options":{"timeout":120000}},"id":"downloadParcelles","name":"Télécharger Parcelles","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[928,224]},{"parameters":{"jsCode":"const parcelles = $input.first().json; const code_commune = $json.code_commune; if (!parcelles.features) return [{ json: { error: 'Pas de parcelles', code_commune } }]; const rows = parcelles.features.map(f => { const p = f.properties || {}; return { id_parcelle: p.id || p.objectid || '', code_commune, prefixe: p.prefixe || '000', section: p.section || '', numero: p.numero || p.num || '', contenance: (p.contenance ?? p.surface) ?? null, arpente: !!p.arpente, geom_geojson: JSON.stringify(f.geometry) }; }); return rows.map(r => ({ json: r }));"},"id":"transformParcelles","name":"Transformer Parcelles","type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,224]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO cadastre.parcelles (id_parcelle, code_commune, prefixe, section, numero, contenance, arpente, geom) VALUES ( '{{$json.id_parcelle}}', '{{$json.code_commune}}', '{{$json.prefixe}}', '{{$json.section}}', '{{$json.numero}}', {{ $json.contenance !== null ? $json.contenance : 'NULL' }}, {{ $json.arpente ? 'true' : 'false' }}, ST_Transform(ST_SetSRID(ST_GeomFromGeoJSON('{{$json.geom_geojson}}'), 4326), 2154) ) ON CONFLICT (id_parcelle) DO UPDATE SET contenance = EXCLUDED.contenance, geom = EXCLUDED.geom;","options":{}},"id":"insertParcelles","name":"Insérer Parcelles PostGIS","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1360,224],"credentials":{"postgres":{"id":"OWJeAe73gfl26A16","name":"PostGIS Cadastre"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO traitement.logs (workflow_id, execution_id, etape, statut, message, donnees) VALUES ('sync_cadastre', '{{$execution.id}}', 'commune_sync', 'success', 'Sync commune {{ $json.code_commune }}', '{}');","options":{}},"id":"logCommune","name":"Logger Commune","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1584,304],"credentials":{"postgres":{"id":"OWJeAe73gfl26A16","name":"PostGIS Cadastre"}}},{"parameters":{},"id":"continueLoop","name":"Prochaine Commune","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1808,304]}],"connections":{"Tous les jours à 2h":{"main":[[{"node":"Communes à Synchroniser","type":"main","index":0}]]},"Communes à Synchroniser":{"main":[[{"node":"Pour Chaque Commune","type":"main","index":0}]]},"Pour Chaque Commune":{"main":[[{"node":"Télécharger Parcelles","type":"main","index":0}]]},"Télécharger Parcelles":{"main":[[{"node":"Transformer Parcelles","type":"main","index":0}]]},"Transformer Parcelles":{"main":[[{"node":"Insérer Parcelles PostGIS","type":"main","index":0}]]},"Insérer Parcelles PostGIS":{"main":[[{"node":"Logger Commune","type":"main","index":0}]]},"Logger Commune":{"main":[[{"node":"Pour Chaque Commune","type":"main","index":1}]]}},"settings":{"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionOrder":"v0","availableInMCP":false},"staticData":null,"meta":{"instanceId":"n8n-geo-local","templateCredsSetupCompleted":true},"pinData":{},"versionId":"7e77c5dc-6d88-4d37-91d3-064770ed7b58","activeVersionId":"7e77c5dc-6d88-4d37-91d3-064770ed7b58","versionCounter":7,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-20T15:40:46.069Z","createdAt":"2025-12-20T15:40:46.069Z","role":"workflow:owner","workflowId":"sync-quotidienne-cadastre-001","projectId":"qzhxq8sb3mHkfpmw","project":{"updatedAt":"2025-12-20T11:44:38.874Z","createdAt":"2025-12-20T11:40:10.812Z","id":"qzhxq8sb3mHkfpmw","name":"Zounoumité zounoumitek@gmail.com <zounoumitek@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-20T15:39:52.659Z","createdAt":"2025-12-20T15:39:52.659Z","id":"import-cadastre-commune-001","name":"Import Cadastre Commune","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"manualTrigger","name":"Déclencheur Manuel","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[260,300]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const communes = [ { code: '75056', nom: 'Paris' }, { code: '69123', nom: 'Lyon' }, { code: '13055', nom: 'Marseille' } ]; return communes.map(c => ({ json: c }));"},"id":"configCommunes","name":"Configuration Communes","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300]},{"parameters":{"method":"GET","url":"={{ 'https://cadastre.data.gouv.fr/bundler/cadastre-etalab/communes/' + $json.code + '/geojson/parcelles' }}","options":{"timeout":120000}},"id":"downloadParcelles","name":"Télécharger Parcelles","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[700,180]},{"parameters":{"method":"GET","url":"={{ 'https://cadastre.data.gouv.fr/bundler/cadastre-etalab/communes/' + $json.code + '/geojson/batiments' }}","options":{"timeout":120000}},"id":"downloadBatiments","name":"Télécharger Bâtiments","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[700,420]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const parcelles = $input.first().json; const conf = $items().find(i => i.node && i.node.name === 'Configuration Communes'); const commune = (conf && conf.json) || {}; if (!parcelles.features) return [{ json: { error: 'Pas de parcelles', commune: commune.code || null } }]; const rows = parcelles.features.map(f => { const p = f.properties || {}; return { id_parcelle: p.id || p.objectid || '', code_commune: commune.code || p.commune || p.code_insee || '', prefixe: p.prefixe || '000', section: p.section || '', numero: p.numero || p.num || '', contenance: (p.contenance ?? p.surface) ?? null, arpente: !!p.arpente, geom_geojson: JSON.stringify(f.geometry) }; }); return rows.map(r => ({ json: r }));"},"id":"transformParcelles","name":"Transformer Parcelles","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,180]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO cadastre.parcelles (id_parcelle, code_commune, prefixe, section, numero, contenance, arpente, geom) VALUES ('{{$json.id_parcelle}}', '{{$json.code_commune}}', '{{$json.prefixe}}', '{{$json.section}}', '{{$json.numero}}', {{ $json.contenance !== null ? $json.contenance : 'NULL' }}, {{ $json.arpente ? 'true' : 'false' }}, ST_Transform(ST_SetSRID(ST_GeomFromGeoJSON('{{$json.geom_geojson}}'), 4326), 2154)) ON CONFLICT (id_parcelle) DO UPDATE SET contenance = EXCLUDED.contenance, geom = EXCLUDED.geom;"},"id":"insertParcelles","name":"Insérer Parcelles PostGIS","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1200,180]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const bats = $input.first().json; if (!bats.features) return [{ json: { info: 'Pas de bâtiments' } }]; const rows = bats.features.map(f => { const p = f.properties || {}; return { id_batiment: p.id || p.identifiant || p.objectid || '', id_parcelle: p.id_parcelle || p.parcelle || null, type: p.type || p.nature || null, date_construction: p.date_construction || p.annee_construction || null, surface_sol: (p.surface || p.emprise) || null, hauteur: p.hauteur || null, geom_geojson: JSON.stringify(f.geometry) }; }); return rows.map(r => ({ json: r }));"},"id":"transformBatiments","name":"Transformer Bâtiments","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,420]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO cadastre.batiments (id_batiment, id_parcelle, type, date_construction, surface_sol, hauteur, geom) VALUES ('{{$json.id_batiment}}', '{{$json.id_parcelle}}', '{{$json.type}}', {{$json.date_construction !== null ? $json.date_construction : 'NULL'}}, {{$json.surface_sol !== null ? $json.surface_sol : 'NULL'}}, {{$json.hauteur !== null ? $json.hauteur : 'NULL'}}, ST_Transform(ST_SetSRID(ST_GeomFromGeoJSON('{{$json.geom_geojson}}'), 4326), 2154)) ON CONFLICT (id_batiment) DO UPDATE SET surface_sol = EXCLUDED.surface_sol, hauteur = EXCLUDED.hauteur, geom = EXCLUDED.geom;"},"id":"insertBatiments","name":"Insérer Bâtiments PostGIS","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1200,420]},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) AS total_parcelles, SUM(contenance) AS surface_totale, COUNT(DISTINCT section) AS nb_sections FROM cadastre.parcelles WHERE code_commune = '{{ $json.code_commune }}';"},"id":"statsImport","name":"Statistiques Import","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1420,300]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO traitement.logs (workflow_id, execution_id, etape, statut, message, donnees) VALUES ('import_cadastre', '{{$execution.id}}', 'import_complete', 'success', 'Import terminé', '{}');"},"id":"logResult","name":"Logger Résultat","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1640,300]}],"connections":{"Déclencheur Manuel":{"main":[[{"node":"Configuration Communes","type":"main","index":0}]]},"Configuration Communes":{"main":[[{"node":"Télécharger Parcelles","type":"main","index":0},{"node":"Télécharger Bâtiments","type":"main","index":0}]]},"Télécharger Parcelles":{"main":[[{"node":"Transformer Parcelles","type":"main","index":0}]]},"Transformer Parcelles":{"main":[[{"node":"Insérer Parcelles PostGIS","type":"main","index":0}]]},"Télécharger Bâtiments":{"main":[[{"node":"Transformer Bâtiments","type":"main","index":0}]]},"Transformer Bâtiments":{"main":[[{"node":"Insérer Bâtiments PostGIS","type":"main","index":0}]]},"Insérer Parcelles PostGIS":{"main":[[{"node":"Statistiques Import","type":"main","index":0}]]},"Insérer Bâtiments PostGIS":{"main":[[{"node":"Statistiques Import","type":"main","index":0}]]},"Statistiques Import":{"main":[[{"node":"Logger Résultat","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"instanceId":"n8n-geo-local"},"pinData":{},"versionId":"1                                   ","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-20T15:39:52.659Z","createdAt":"2025-12-20T15:39:52.659Z","role":"workflow:owner","workflowId":"import-cadastre-commune-001","projectId":"qzhxq8sb3mHkfpmw","project":{"updatedAt":"2025-12-20T11:44:38.874Z","createdAt":"2025-12-20T11:40:10.812Z","id":"qzhxq8sb3mHkfpmw","name":"Zounoumité zounoumitek@gmail.com <zounoumitek@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-20T15:39:42.294Z","createdAt":"2025-12-20T15:39:42.294Z","id":"generation-actes-administratifs-001","name":"Génération Actes Administratifs","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"generer-acte","responseMode":"responseNode"},"id":"webhook","name":"Demande Acte","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,360]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const body = $input.first().json.body || {};\nconst typeActe = body.type_acte || 'attestation';\nconst bienId = body.bien_id;\nconst parametres = body.parametres || {};\n\nreturn [{ json: { type_acte: typeActe, bien_id: bienId, ...parametres, date_generation: new Date().toISOString().slice(0,10) }}];"},"id":"parseRequest","name":"Parser Demande","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,360]},{"parameters":{"operation":"executeQuery","query":"SELECT b.id, b.reference, b.designation, b.adresse, b.code_commune, b.surface, b.valeur_venale, b.date_acquisition, b.origine_propriete, b.affectation, b.gestionnaire, (SELECT valeur_locative_annuelle FROM domaine.evaluations WHERE bien_id = b.id ORDER BY date_evaluation DESC LIMIT 1) as valeur_locative, (SELECT string_agg(id_parcelle, ', ') FROM cadastre.parcelles p WHERE ST_Intersects(p.geom, b.geom)) as parcelles_liees FROM domaine.biens b WHERE b.id = {{$json.bien_id}};"},"id":"getBien","name":"Récupérer Données Bien","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[680,360]},{"parameters":{"conditions":{"string":[{"value1":"={{$items('Parser Demande')[0].json.type_acte}}","operation":"equals","value2":"bail"}]}},"id":"switchActe","name":"Type Acte?","type":"n8n-nodes-base.switch","typeVersion":1,"position":[920,360]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const bien = $items('Récupérer Données Bien')[0].json;\nconst params = $items('Parser Demande')[0].json;\n\nconst acte = {\n  type: 'BAIL DOMANIAL',\n  numero: 'BD-' + new Date().getFullYear() + '-' + Math.random().toString(36).substr(2,6).toUpperCase(),\n  date: params.date_generation,\n  bien: {\n    reference: bien.reference,\n    designation: bien.designation,\n    adresse: bien.adresse,\n    surface: bien.surface,\n    parcelles: bien.parcelles_liees\n  },\n  bailleur: {\n    nom: 'ÉTAT DU SÉNÉGAL',\n    represente_par: 'Le Directeur des Domaines'\n  },\n  preneur: {\n    nom: params.preneur_nom || 'À COMPLÉTER',\n    adresse: params.preneur_adresse || ''\n  },\n  conditions: {\n    duree: params.duree || '5 ans',\n    loyer_annuel: bien.valeur_locative || 'À DÉTERMINER',\n    loyer_mensuel: bien.valeur_locative ? Math.round(bien.valeur_locative / 12) : 'À DÉTERMINER',\n    date_effet: params.date_effet || params.date_generation\n  },\n  clauses: [\n    'Le preneur s\\'engage à utiliser le bien conformément à sa destination.',\n    'Toute modification doit faire l\\'objet d\\'une autorisation préalable.',\n    'Le loyer est payable trimestriellement d\\'avance.'\n  ]\n};\n\nreturn [{ json: acte }];"},"id":"genererBail","name":"Générer Bail","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,260]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const bien = $items('Récupérer Données Bien')[0].json;\nconst params = $items('Parser Demande')[0].json;\n\nconst acte = {\n  type: 'ATTESTATION DE PROPRIÉTÉ DOMANIALE',\n  numero: 'ATT-' + new Date().getFullYear() + '-' + Math.random().toString(36).substr(2,6).toUpperCase(),\n  date: params.date_generation,\n  certifie_que: {\n    bien_reference: bien.reference,\n    designation: bien.designation,\n    adresse: bien.adresse,\n    commune: bien.code_commune,\n    surface: bien.surface + ' m²',\n    parcelles_cadastrales: bien.parcelles_liees\n  },\n  appartient_a: 'L\\'ÉTAT DU SÉNÉGAL',\n  depuis: bien.date_acquisition || 'Date à préciser',\n  origine: bien.origine_propriete || 'Domaine public',\n  affectation_actuelle: bien.affectation || 'Non affecté',\n  gestionnaire: bien.gestionnaire || 'Direction des Domaines',\n  valeur: {\n    venale: bien.valeur_venale ? bien.valeur_venale + ' FCFA' : 'Non évaluée',\n    locative: bien.valeur_locative ? bien.valeur_locative + ' FCFA/an' : 'Non évaluée'\n  },\n  delivree_pour: params.motif || 'Servir et valoir ce que de droit'\n};\n\nreturn [{ json: acte }];"},"id":"genererAttestation","name":"Générer Attestation","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,460]},{"parameters":{"method":"POST","url":"http://geo-api:8000/api/v1/rapports/fiche-bien/{{$items('Parser Demande')[0].json.bien_id}}","options":{"timeout":60000}},"id":"genererPDF","name":"Générer PDF via API","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1400,360]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO domaine.documents (bien_id, type_document, titre, description, date_document) VALUES ({{$items('Parser Demande')[0].json.bien_id}}, '{{$json.type === \"BAIL DOMANIAL\" ? \"bail\" : \"attestation\"}}', '{{$json.type}} - {{$json.numero}}', 'Acte généré automatiquement', '{{$json.date}}') RETURNING id;"},"id":"enregistrerDocument","name":"Enregistrer Document","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1620,360]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO traitement.logs (workflow_id, execution_id, etape, statut, message, donnees) VALUES ('generation_actes', '{{$execution.id}}', 'acte_genere', 'success', 'Acte {{$json.type}} généré: {{$json.numero}}', '{{JSON.stringify($json)}}'::jsonb);"},"id":"logResult","name":"Logger Résultat","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1840,360]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, type_acte: $json.type, numero: $json.numero, date: $json.date, message: 'Acte généré avec succès' } }}"},"id":"respond","name":"Répondre","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2060,360]}],"connections":{"Demande Acte":{"main":[[{"node":"Parser Demande","type":"main","index":0}]]},"Parser Demande":{"main":[[{"node":"Récupérer Données Bien","type":"main","index":0}]]},"Récupérer Données Bien":{"main":[[{"node":"Type Acte?","type":"main","index":0}]]},"Type Acte?":{"main":[[{"node":"Générer Bail","type":"main","index":0}],[{"node":"Générer Attestation","type":"main","index":0}]]},"Générer Bail":{"main":[[{"node":"Générer PDF via API","type":"main","index":0}]]},"Générer Attestation":{"main":[[{"node":"Générer PDF via API","type":"main","index":0}]]},"Générer PDF via API":{"main":[[{"node":"Enregistrer Document","type":"main","index":0}]]},"Enregistrer Document":{"main":[[{"node":"Logger Résultat","type":"main","index":0}]]},"Logger Résultat":{"main":[[{"node":"Répondre","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"instanceId":"n8n-geo-local"},"pinData":{},"versionId":"1                                   ","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-20T15:39:42.294Z","createdAt":"2025-12-20T15:39:42.294Z","role":"workflow:owner","workflowId":"generation-actes-administratifs-001","projectId":"qzhxq8sb3mHkfpmw","project":{"updatedAt":"2025-12-20T11:44:38.874Z","createdAt":"2025-12-20T11:40:10.812Z","id":"qzhxq8sb3mHkfpmw","name":"Zounoumité zounoumitek@gmail.com <zounoumitek@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-20T15:40:16.375Z","createdAt":"2025-12-20T15:40:16.375Z","id":"instruction-dossier-domanial-001","name":"Instruction Dossier Domanial","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"instruction-dossier","responseMode":"responseNode"},"id":"webhook","name":"Réception Demande","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,360]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const body = $input.first().json.body || {};\nconst reference = 'DOS-' + new Date().toISOString().slice(0,10).replace(/-/g,'') + '-' + Math.random().toString(36).substr(2, 4).toUpperCase();\n\nreturn [{ json: {\n  reference,\n  type_dossier: body.type_dossier || 'autre',\n  demandeur_nom: body.demandeur_nom,\n  demandeur_telephone: body.demandeur_telephone,\n  bien_id: body.bien_id,\n  objet: body.objet || 'Demande non spécifiée',\n  description: body.description,\n  priorite: body.priorite || 'normale',\n  date_reception: new Date().toISOString().slice(0,10)\n}}];"},"id":"preparerDossier","name":"Préparer Dossier","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,360]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO traitement.dossiers (reference, type_dossier, demandeur_nom, demandeur_telephone, bien_id, objet, description, priorite, date_reception, statut) VALUES ('{{$json.reference}}', '{{$json.type_dossier}}', '{{$json.demandeur_nom}}', '{{$json.demandeur_telephone}}', {{$json.bien_id || 'NULL'}}, '{{$json.objet}}', '{{$json.description}}', '{{$json.priorite}}', '{{$json.date_reception}}', 'nouveau') RETURNING id, reference;"},"id":"creerDossier","name":"Créer Dossier DB","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[680,360]},{"parameters":{"conditions":{"number":[{"value1":"={{$json.bien_id}}","operation":"isNotEmpty"}]}},"id":"checkBien","name":"Bien Associé?","type":"n8n-nodes-base.if","typeVersion":1,"position":[900,360]},{"parameters":{"operation":"executeQuery","query":"SELECT b.id, b.reference, b.designation, b.surface, ST_Area(b.geom) as surface_calculee, (SELECT COUNT(*) FROM cadastre.parcelles p WHERE ST_Intersects(p.geom, b.geom)) as nb_parcelles, (SELECT valeur_locative_annuelle FROM domaine.evaluations WHERE bien_id = b.id ORDER BY date_evaluation DESC LIMIT 1) as derniere_valeur_locative FROM domaine.biens b WHERE b.id = {{$json.bien_id}};"},"id":"analyseBien","name":"Analyser Bien","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1120,260]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const dossier = $items('Créer Dossier DB')[0].json;\nconst bien = $items('Analyser Bien')[0]?.json || {};\n\nconst analyse = {\n  dossier_reference: dossier.reference,\n  dossier_id: dossier.id,\n  bien_reference: bien.reference || 'N/A',\n  bien_designation: bien.designation || 'N/A',\n  surface: bien.surface || bien.surface_calculee,\n  nb_parcelles: bien.nb_parcelles || 0,\n  valeur_locative: bien.derniere_valeur_locative,\n  eligibilite: bien.nb_parcelles > 0 ? 'eligible' : 'verification_requise',\n  observations: []\n};\n\nif (!bien.reference) analyse.observations.push('Aucun bien associé');\nif (!bien.derniere_valeur_locative) analyse.observations.push('Évaluation requise');\nif (bien.nb_parcelles === 0) analyse.observations.push('Parcelles non identifiées');\n\nreturn [{ json: analyse }];"},"id":"consolidation","name":"Consolidation Analyse","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,260]},{"parameters":{"operation":"executeQuery","query":"UPDATE traitement.dossiers SET statut = 'en_instruction', donnees_instruction = '{{JSON.stringify($json)}}'::jsonb WHERE id = {{$json.dossier_id}};"},"id":"majDossier","name":"MAJ Dossier","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1560,260]},{"parameters":{"operation":"executeQuery","query":"SELECT traitement.creer_alerte_sms('dossier_urgent', 'Nouveau dossier: ' || '{{$json.dossier_reference}}', 'Dossier reçu pour {{$json.bien_reference}}. Eligibilité: {{$json.eligibilite}}', '{{$items(\"Préparer Dossier\")[0].json.demandeur_telephone}}', '{{$json.eligibilite === \"verification_requise\" ? \"importante\" : \"normale\"}}', {{$json.bien_id || 'NULL'}}) AS alerte_id;"},"id":"alerteSMS","name":"Envoyer Alerte SMS","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1780,260]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO traitement.logs (workflow_id, execution_id, etape, statut, message, donnees) VALUES ('instruction_dossier', '{{$execution.id}}', 'instruction_complete', 'success', 'Dossier instruit: {{$json.dossier_reference}}', '{{JSON.stringify($json)}}'::jsonb);"},"id":"logResult","name":"Logger Résultat","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2000,360]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, reference: $json.dossier_reference, eligibilite: $json.eligibilite, message: 'Dossier créé et en cours d\\'instruction' } }}"},"id":"respond","name":"Répondre","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2220,360]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const dossier = $items('Créer Dossier DB')[0].json;\nreturn [{ json: { dossier_reference: dossier.reference, dossier_id: dossier.id, eligibilite: 'sans_bien', observations: ['Dossier sans bien associé'] }}];"},"id":"sansBien","name":"Dossier Sans Bien","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,460]}],"connections":{"Réception Demande":{"main":[[{"node":"Préparer Dossier","type":"main","index":0}]]},"Préparer Dossier":{"main":[[{"node":"Créer Dossier DB","type":"main","index":0}]]},"Créer Dossier DB":{"main":[[{"node":"Bien Associé?","type":"main","index":0}]]},"Bien Associé?":{"main":[[{"node":"Analyser Bien","type":"main","index":0}],[{"node":"Dossier Sans Bien","type":"main","index":0}]]},"Analyser Bien":{"main":[[{"node":"Consolidation Analyse","type":"main","index":0}]]},"Consolidation Analyse":{"main":[[{"node":"MAJ Dossier","type":"main","index":0}]]},"MAJ Dossier":{"main":[[{"node":"Envoyer Alerte SMS","type":"main","index":0}]]},"Envoyer Alerte SMS":{"main":[[{"node":"Logger Résultat","type":"main","index":0}]]},"Logger Résultat":{"main":[[{"node":"Répondre","type":"main","index":0}]]},"Dossier Sans Bien":{"main":[[{"node":"Logger Résultat","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"instanceId":"n8n-geo-local"},"pinData":{},"versionId":"1                                   ","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-20T15:40:16.375Z","createdAt":"2025-12-20T15:40:16.375Z","role":"workflow:owner","workflowId":"instruction-dossier-domanial-001","projectId":"qzhxq8sb3mHkfpmw","project":{"updatedAt":"2025-12-20T11:44:38.874Z","createdAt":"2025-12-20T11:40:10.812Z","id":"qzhxq8sb3mHkfpmw","name":"Zounoumité zounoumitek@gmail.com <zounoumitek@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-20T15:39:12.390Z","createdAt":"2025-12-20T15:39:12.390Z","id":"controle-periodique-occupation-001","name":"Contrôle Périodique Occupation","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 1 * *"}]}},"id":"cronMensuel","name":"1er de Chaque Mois 9h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,360]},{"parameters":{"operation":"executeQuery","query":"SELECT b.id, b.reference, b.designation, b.code_commune, b.affectation, b.gestionnaire, o.occupant, o.type_occupation, o.date_debut, o.date_fin, o.loyer, CASE WHEN o.date_fin IS NOT NULL AND o.date_fin < CURRENT_DATE THEN 'expire' WHEN o.date_fin IS NOT NULL AND o.date_fin < CURRENT_DATE + INTERVAL '30 days' THEN 'bientot_expire' WHEN o.id IS NULL THEN 'non_occupe' ELSE 'en_cours' END as statut_occupation FROM domaine.biens b LEFT JOIN domaine.occupations o ON b.id = o.bien_id AND (o.date_fin IS NULL OR o.date_fin >= CURRENT_DATE - INTERVAL '30 days') WHERE b.statut = 'actif' ORDER BY b.reference;"},"id":"getBiensOccupations","name":"Lister Biens et Occupations","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[460,360]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all().map(i => i.json);\n\nconst anomalies = items.filter(b => ['expire', 'bientot_expire', 'non_occupe'].includes(b.statut_occupation));\nconst expirees = anomalies.filter(b => b.statut_occupation === 'expire');\nconst bientotExpirees = anomalies.filter(b => b.statut_occupation === 'bientot_expire');\nconst nonOccupes = anomalies.filter(b => b.statut_occupation === 'non_occupe');\n\nconst rapport = {\n  date_controle: new Date().toISOString().slice(0,10),\n  total_biens: items.length,\n  en_cours: items.filter(b => b.statut_occupation === 'en_cours').length,\n  anomalies_total: anomalies.length,\n  occupations_expirees: expirees.length,\n  occupations_bientot_expirees: bientotExpirees.length,\n  biens_non_occupes: nonOccupes.length,\n  details_anomalies: anomalies.slice(0, 20)\n};\n\nreturn [{ json: rapport }];"},"id":"analyserOccupations","name":"Analyser Occupations","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,360]},{"parameters":{"conditions":{"number":[{"value1":"={{$json.anomalies_total}}","operation":"larger","value2":0}]}},"id":"hasAnomalies","name":"Anomalies Détectées?","type":"n8n-nodes-base.if","typeVersion":1,"position":[940,360]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const r = $json;\nconst message = `CONTRÔLE MENSUEL OCCUPATION\\n\\nDate: ${r.date_controle}\\nTotal biens: ${r.total_biens}\\n\\nANOMALIES DÉTECTÉES: ${r.anomalies_total}\\n- Occupations expirées: ${r.occupations_expirees}\\n- À renouveler sous 30j: ${r.occupations_bientot_expirees}\\n- Biens non occupés: ${r.biens_non_occupes}\\n\\nVeuillez consulter le détail dans le tableau de bord.`;\n\nreturn [{ json: { ...r, message_alerte: message } }];"},"id":"preparerAlerte","name":"Préparer Message Alerte","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,260]},{"parameters":{"operation":"executeQuery","query":"SELECT traitement.creer_alerte_sms('controle_occupation', 'Contrôle mensuel: {{$json.anomalies_total}} anomalies', '{{$json.message_alerte}}', '+221770000000', '{{$json.anomalies_total > 5 ? \"importante\" : \"normale\"}}', NULL) AS alerte_id;"},"id":"envoyerAlerte","name":"Envoyer Alerte SMS","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1420,260]},{"parameters":{"batchSize":1},"id":"loopAnomalies","name":"Pour Chaque Anomalie","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[1180,460]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO traitement.alertes (type_alerte, priorite, titre, message, bien_id, canal_notification, statut_envoi) SELECT 'controle_occupation', CASE WHEN statut_occupation = 'expire' THEN 'importante' ELSE 'normale' END, 'Anomalie occupation: ' || reference, 'Bien ' || reference || ' - ' || designation || ': ' || CASE statut_occupation WHEN 'expire' THEN 'Occupation expirée' WHEN 'bientot_expire' THEN 'Occupation expire bientôt' ELSE 'Non occupé' END, id, 'sms', 'en_attente' FROM (SELECT '{{$json.id}}'::int as id, '{{$json.reference}}' as reference, '{{$json.designation}}' as designation, '{{$json.statut_occupation}}' as statut_occupation) t;"},"id":"creerAlerteAnomalie","name":"Créer Alerte Anomalie","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1420,460]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO traitement.logs (workflow_id, execution_id, etape, statut, message, donnees) VALUES ('controle_occupation', '{{$execution.id}}', 'controle_mensuel', 'success', 'Contrôle mensuel: {{$json.anomalies_total}} anomalies sur {{$json.total_biens}} biens', '{{JSON.stringify($json)}}'::jsonb);"},"id":"logResult","name":"Logger Résultat","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1660,360]}],"connections":{"1er de Chaque Mois 9h":{"main":[[{"node":"Lister Biens et Occupations","type":"main","index":0}]]},"Lister Biens et Occupations":{"main":[[{"node":"Analyser Occupations","type":"main","index":0}]]},"Analyser Occupations":{"main":[[{"node":"Anomalies Détectées?","type":"main","index":0}]]},"Anomalies Détectées?":{"main":[[{"node":"Préparer Message Alerte","type":"main","index":0},{"node":"Pour Chaque Anomalie","type":"main","index":0}],[{"node":"Logger Résultat","type":"main","index":0}]]},"Préparer Message Alerte":{"main":[[{"node":"Envoyer Alerte SMS","type":"main","index":0}]]},"Envoyer Alerte SMS":{"main":[[{"node":"Logger Résultat","type":"main","index":0}]]},"Pour Chaque Anomalie":{"main":[[{"node":"Créer Alerte Anomalie","type":"main","index":0}]]},"Créer Alerte Anomalie":{"main":[[{"node":"Pour Chaque Anomalie","type":"main","index":1}]]}},"settings":{},"staticData":null,"meta":{"instanceId":"n8n-geo-local"},"pinData":{},"versionId":"1                                   ","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-20T15:39:12.390Z","createdAt":"2025-12-20T15:39:12.390Z","role":"workflow:owner","workflowId":"controle-periodique-occupation-001","projectId":"qzhxq8sb3mHkfpmw","project":{"updatedAt":"2025-12-20T11:44:38.874Z","createdAt":"2025-12-20T11:40:10.812Z","id":"qzhxq8sb3mHkfpmw","name":"Zounoumité zounoumitek@gmail.com <zounoumitek@gmail.com>","type":"personal","icon":null,"description":null}}]}]